		{% if form != "" %}
		 <div style="height:5px;"></div>
		 <div style="float:left; height:10px;">
		  <img src="/static/imagens/botaoform/enviar/{{cor[0]}}.png" style="position:relative;top:-2px;left:10px;"
		   onmouseover="this.src='/static/imagens/botaoform/enviar/{{cor[0]}}_over.png';"
		   onmousedown="this.src='/static/imagens/botaoform/enviar/{{cor[0]}}_down.png';"
		   onmouseup  ="this.src='/static/imagens/botaoform/enviar/{{cor[0]}}_over.png';" 
		   onmouseout ="this.src='/static/imagens/botaoform/enviar/{{cor[0]}}.png';"
		   onclick="document.{{form}}.submit();" />
		 </div>
		{% end %}
	</div>
</div>