{% extends "../../base-foto.html" %}

{% block body-right %}  
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <form name="criaritemglossario" action="{{ request.path }}" method="post">
    {% raw xsrf_form_html() %}

    {{modules.ShowMolduraInicio(u"Criar termo no glossário")}}
    {% if MSG %} <div class="tnmMSG">{{ MSG }}</div> {% end %}
    <p> <h2>Termo:</h2>
        <input name="term" value="" type="text" size="60"/>
    </p>
    <p> <h2>Tags:</h2>{{ modules.InputTags([]) }}
    </p>

    <textarea name="definition">{{ escape(DEFINITION) }}</textarea>
    <script type="text/javascript">
        CKEDITOR.replace( 'definition', {
                                             allowedContent: true,
							                 filebrowserBrowseUrl : '/file/browser/{{REGISTRY_ID}}?filter=wiki',
							                 filebrowserImageBrowseUrl : '/file/browser/{{REGISTRY_ID}}?filter=image',
							                 filebrowserFlashBrowseUrl : '/file/browser/{{REGISTRY_ID}}?filter=flash'
                                         }
                        );                
    </script>
    {{ modules.ShowMolduraFim("criaritemglossario") }}
    </form>
{% end %}
