{% extends "../../base-foto.html" %}

{% block body-right %}
	{{modules.ShowMolduraInicio("Gabarito do Quiz", width="100%", links=LINKS)}}
	
	<h2>{{ QUIZ["titulo"] }}</h2>
	<p>{{ QUIZ["descricao"] }}</p>

	{% for i in range(len(QUESTIONS)) %}
	
	    <h2>Questão {{i+1}}</h2>
	    <p>{{QUESTIONS[i]["enunciado"] }}</p>
	    
		{% for j in range (len(QUESTIONS[i]["respostas"])) %}
		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
			{% if QUESTIONS[i]["subtype"] == "Teste" and j==int(QUESTIONS[i]["resp_certa"]) %}
	   			<img src="/static/imagens/question/resp_X.gif" >
	   		{% else %}
	   			<img src="/static/imagens/question/{{IMGLIST[j]}}" >	   	
	   		{% end %}
	   		{{ QUESTIONS[i]["respostas"][j] }}
			
		   	<br/><br/>
	
		{% end %}
	
	{% end %}
		   	
	<span style="color:#999;font-size:small;">
	<p>{{ _("Inicio:") }} <a>{{ escape(QUIZ["data_inicio"]) }}</a></p>
	<p>{{ _("Encerramento:") }} <a><a>{{ escape(QUIZ["data_fim"]) }}</a> </p>
	<p>{{ _("Posted by") }} <a href="/user/{{ escape(QUIZ["owner"]) }}">{{ escape(QUIZ["owner"]) }}</a> {{ _("at") }} {{ QUIZ["data_cri"] }}</p>
	</span>
	{{ modules.ShowMolduraFim() }}
</form>
{% end %}
