{% extends "../../base-foto.html" %}

{% block body-right %}
   <div style="float:right;text-align:right;padding-right:5px;">
      {% if REGISTRY_ID == LOGADO %}
         <a href="/friends/{{ REGISTRY_ID }}">Meus amigos</a>
      {% end %}
   </div>

  {{ modules.ShowMolduraInicio(width="100%") }}

  
  {% if AMIGOS %}
    <table cellspacing="10">
    {% for amigo in AMIGOS %}
        <tr><td>
            {{ modules.ShowFoto("/photo/"+escape(amigo[0][0])+"?size=M", escape(amigo[0][0]), escape(amigo[0][1]), "/user/"+escape(amigo[0][0]),False,amigo[0][2],False) }}
        </td>
        <td valign="top">
            <b>{{ amigo[0][1] }}</b>
            <br/>
            {{ amigo[1] }}&nbsp;amigo(s) em comum<br/><br/>
            <a href="/newfriend?friend={{ amigo[0][0] }}">Convidar</a>
        </td></tr>
    {% end %}
    </table>
    
    
        
  {% else %}
    <p>Ainda não é possível sugerir amigos para {{ REGISTRY_ID }}.</p>
  {% end %}
  {{ modules.ShowMolduraFim() }}
{% end %}
