{% extends "../../base.html" %}

{% block body %} 
    <form name="renomearpagina" action="{{ request.path }}" method="post">
    {% raw xsrf_form_html() %}
    {{modules.ShowMolduraInicio(titulo=u"Renomear Pastas")}}
    {% if MSG %} <div class="tnmMSG">{{ MSG }}</div> <br/>{% end %}
    
    <input type="hidden" name="nomepag" value="{{ escape(WIKIDATA["nomepag"]) }}"/>
    <input type="hidden" name="revision" value="{{ escape(WIKIDATA["_rev"]) }}"/>
    <h2>Nome atual:</h2>{{ PATH }}
    <br/><br/>

    <h2>Nome novo:</h2>
    <input type="text" name="nomepag_novo" value="{{ escape(NEWNAME) }}" size="60" /> 
    {{ modules.ShowMolduraFim("renomearpagina") }}
   </form>
{% end %}
